:root {
    /* Color: background */
    --color-brackground-body: rgb(248, 249, 250);
    --color-brackground-dial: rgb(255, 255, 255);
    --color-background-set-an-alarm: rgb(255, 255, 255);

    /* Color: text */
    --color-text-button-major-and-minor: rgb(255, 255, 255);
    --color-text-label: rgb(35, 35, 40);
    --color-text-input: rgb(35, 35, 40);
    --color-text-meridiem-uncheck: rgb(10, 175, 245);
    --color-text-meridiem-check: rgb(255, 255, 255);

    /* Color: button */
    --color-button-major: rgb(10, 175, 245);
    --color-button-major-dark: rgb(15, 160, 220);
    --color-button-minor: rgb(205, 210, 215);
    --color-button-minor-dark: rgb(185, 190, 195);
    --color-button-meridiem-uncheck: rgb(255, 255, 255);
    --color-button-meridiem-check: rgb(10, 175, 245);
    --color-button-meridiem-border-uncheck: rgb(10, 175, 245);

    /* Color: input */
    --color-input-border-inactive: rgb(175, 180, 185);
    --color-input-border-active: rgb(10, 175, 245);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    background: var(--color-brackground-body);
}

.container {
    display: block;

    width: 100vw;
    height: 100vh;
    padding-top: calc(50vh - 8rem - 2.25rem - 1.75rem);
}

.clock {
    position: relative;

    display: flex;

    align-items: center;
    justify-content: space-around;
}

.dial {
    transition: 800ms;

    background: var(--color-brackground-dial);
    box-shadow: 0 0 20px 10px rgba(35, 35, 40, .24);
}

.dial,
.hour-hand,
.minute-hand {
    width: 16rem;
    height: 16rem;

    border-radius: 50%;
}

.hour-hand,
.minute-hand {
    position: absolute;
}

.dial img,
.hour-hand img,
.minute-hand img {
    height: 100%;
}

/*
    begin-set-an-alarm
*/

.set-an-alarm {
    display: none;

    width: 100%;
    margin-top: -6rem;
    padding: 9.125rem 2rem 2rem 2rem;

    border-radius: .5rem .5rem 0 0;
    background: var(--color-background-set-an-alarm);
    box-shadow: 0 0 40px 10px rgba(35, 35, 40, .08);
}

.set-an-alarm label {
    font: 300 .875rem 'Source Sans Pro', sans-serif;

    display: inline-block;

    margin-bottom: .25rem;

    color: var(--color-text-label);
}

.input-label input,
.select-color select,
.input-hour input,
.input-minute input {
    font: 300 1.125rem 'Source Sans Pro', sans-serif;

    display: flex;

    width: 100%;
    height: 3.125rem;
    padding: 0 1rem;

    cursor: pointer;

    color: var(--color-text-input);
    border: 1px solid var(--color-input-border-inactive);
    border-radius: .25rem;

    justify-content: center;
    align-items: center;
}

.input-label input,
.select-color select,
.input-hour input {
    margin-bottom: 1.125rem;
}

.select-color select {
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 1rem;

    -webkit-appearance: none;
}

.input-minute input {
    margin-bottom: 0;
}

.input-label input:focus,
.select-color select:focus,
.input-hour input:focus,
.input-minute input:focus {
    border-color: var(--color-input-border-active);
    outline: 0;
    box-shadow: 0 4px 24px rgba(35, 35, 40, .16);
}

.button-ante-and-post-meridiem {
    display: flex;
}

.button-ante-meridiem,
.button-post-meridiem {
    font: 300 1.125rem 'Source Sans Pro', sans-serif;

    display: flex;

    width: 50%;
    height: 3.125rem;
    margin-top: 2.5rem;

    cursor: pointer;
    transition: 400ms;

    color: var(--color-text-meridiem-uncheck);
    border: 1px solid var(--color-button-meridiem-border-uncheck);
    background: var(--color-button-meridiem-uncheck);

    justify-content: center;
    align-items: center;
}

.button-ante-meridiem {
    border-right-style: none;
    border-radius: .25rem 0 0 .25rem;
}

.button-post-meridiem {
    border-left-style: none;
    border-radius: 0 .25rem .25rem 0;
}

.button-meridiem-checked {
    color: var(--color-text-meridiem-check);
    background: var(--color-button-meridiem-check);
}

.button-ante-meridiem:focus,
.button-post-meridiem:focus {
    outline: 0;
}

.button-cancel-set-an-alarm,
.button-confirm-set-an-alarm {
    font: 300 1.25rem 'Source Sans Pro', sans-serif;

    display: flex;

    width: 100%;
    height: 3.5rem;

    cursor: pointer;
    transition: 400ms;

    color: var(--color-text-button-major-and-minor);
    border: 0;
    border-radius: .25rem;
    box-shadow: 0 4px 24px rgba(35, 35, 40, .16);

    align-items: center;
    justify-content: center;
}

.button-cancel-set-an-alarm {
    margin-top: 2.5rem;

    background: var(--color-button-minor);
}

.button-cancel-set-an-alarm:hover {
    background: var(--color-button-minor-dark);
}

.button-confirm-set-an-alarm {
    margin-top: 2.125rem;

    background: var(--color-button-major);
}

.button-confirm-set-an-alarm:hover {
    background: var(--color-button-major-dark);
}

.button-ante-meridiem:focus,
.button-post-meridiem:focus,
.button-cancel-set-an-alarm,
.button-confirm-set-an-alarm {
    outline: 0;
}

/*
    end-set-an-alarm
*/

.button-set-an-alarm {
    font: 300 1.25rem 'Source Sans Pro', sans-serif;

    display: flex;

    width: 10rem;
    height: 3.5rem;
    margin-top: 4.5rem;
    margin-left: calc(50% - 5rem);

    cursor: pointer;
    transition: 400ms;
    text-decoration: none;

    color: var(--color-text-button-major-and-minor);
    border: 0;
    border-radius: .25rem;
    background: var(--color-button-major);
    box-shadow: 0 4px 24px rgba(35, 35, 40, .16);

    align-items: center;
    justify-content: center;
}

.button-set-an-alarm:focus {
    outline: 0;
}

.button-set-an-alarm:hover {
    background: var(--color-button-major-dark);
}

@media (min-width: 360px) {
    .container {
        padding-top: calc(50vh - 9rem - 2.25rem - 1.75rem);
    }

    .dial {
        background: var(--color-brackground-dial);
        box-shadow: 0 0 24px 12px rgba(35, 35, 40, .24);
    }

    .dial,
    .hour-hand,
    .minute-hand {
        width: 18rem;
        height: 18rem;

        border-radius: 50%;
    }

    /*
        begin-set-an-alarm
    */

    .set-an-alarm {
        margin-top: -6.5rem;
        padding: 9.625rem 2rem 2rem 2rem;

        box-shadow: 0 0 48px 12px rgba(35, 35, 40, .08);
    }

    /*
        end-set-an-alarm
    */
}

@media (min-width: 500px) {
    .container {
        padding-top: calc(50vh - 12.125rem - 2.25rem - 1.75rem);
    }

    .clock {
        position: relative;

        display: flex;

        padding-top: 2.25rem;

        align-items: center;
        justify-content: space-around;
    }

    .dial {
        background: var(--color-brackground-dial);
        box-shadow: 0 0 32px 16px rgba(35, 35, 40, .24);
    }

    .dial,
    .hour-hand,
    .minute-hand {
        width: 24.25rem;
        height: 24.25rem;

        border-radius: 50%;
    }

    /*
        begin-set-an-alarm
    */

    .set-an-alarm {
        width: 35rem;
        margin-top: -9rem;
        margin-bottom: 3.5rem;
        margin-left: calc(50vw - 17.5rem);
        padding: 12.125rem 2rem 2rem 2rem;

        border-radius: .5rem;
        box-shadow: 0 0 64px 16px rgba(35, 35, 40, .08);

        grid-template-columns: 10rem 4rem 5rem 9rem;
        column-gap: 1rem;
        grid-template-rows: auto;
        grid-template-areas: 'label label label color'
        'hour minute minute meridiem'
        'cancel cancel confirm confirm';
    }

    .input-label {
        grid-area: label;
    }

    .select-color {
        grid-area: color;
    }

    .input-hour {
        grid-area: hour;
    }

    .input-minute {
        grid-area: minute;
    }

    .button-ante-meridiem,
    .button-post-meridiem {
        grid-area: meridiem;
    }

    .button-cancel-set-an-alarm {
        grid-area: cancel;
    }

    .button-confirm-set-an-alarm {
        grid-area: confirm;
    }

    .button-ante-meridiem,
    .button-post-meridiem,
    .button-cancel-set-an-alarm,
    .button-confirm-set-an-alarm {
        margin-top: 1.375rem;
    }

    /*
        end-set-an-alarm
    */
}