* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(248, 249, 250);
}

.container {
    position: relative;

    display: flex;

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

.dial {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 32px 16px rgba(35, 35, 40, .24);
}

.dial,
.hour-hand,
.minute-hand {
    position: absolute;

    height: 24.25rem;

    border-radius: 50%;
}

.dial img,
.hour-hand img,
.minute-hand img {
    height: 100%;
}